<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>techblog</title>
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>

<body>
  <header>
    <h1>Welcome to the Techblog</h1>
  </header>
  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <aside>
      <h2>Enjoy the posts!</h2>
    </aside>
    <div class="posts">
      {{{body}}}
    </div>
  </main>
</body>

</html>
